@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your global stylesheet or component-specific stylesheet */
.fullpage-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
  }
  
  .fp-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
  }
  
  .image-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  